<div class="login-form">
  <%= form_tag sessions_path, :method => :post do %>
    <div>
      <%= label_tag :email, nil, class:"show-for-sr" %>
      <%= fa_icon "at" %>
      <%= text_field_tag :email, nil, placeholder: "Email" %>
    </div>

    <div>
      <%= label_tag :password, nil, class:"show-for-sr" %>
      <%= fa_icon "lock" %>
      <%= password_field_tag :password, nil, placeholder: "Password" %>
    </div>

    <%= submit_tag "Log In", class: 'button' %> New? <%= link_to 'Sign up!', new_user_path %>

  <% end %>
</div>
