<%= form_for [@user, @listing] do |l| %>
  <%= render "shared/errors", object: @listing %>

   <div class="field">
     <%= l.label :item_name %><br>
     <%= l.text_field :item_name %>
   </div>
   <div class="field">
     <%= l.label :quantity %><br>
     <%= l.text_field :quantity %>
   </div>
   <div class="field">
     <%= l.radio_button :perishable, :checked => false  %> Non Perishable
   </div>
   <div class="field">
     <%= l.radio_button :perishable, :checked => true %> Perishable
   </div>
   <div class="field">
     <%= l.label :expiry_date %><br>
     <%= l.date_select :expiry_date %>
   </div>
   <div class="field">
     <%= l.label :picture %><br>
     <%= l.file_field :picture %>
   </div>
   <div class="field">
     <%= l.label :available_until %><br>
     <%= l.datetime_select :available_until %>
   </div>
   <div class="field">
     <%= l.label :full_street_address %> <br>
     <%= l.text_field :full_street_address %>
   </div>
   <div class="field">
     <%= l.label :notes %><br>
     <%= l.text_field :notes %>
   </div>
   <div class="button">
     <%= l.submit %>
   </div>

<% end %>
