<div class="card">
  <%= form_for [@user, @listing] do |l| %>
    <%= render "shared/errors", object: @listing %>

    <fieldset class="fieldset">
      <legend>Item description</legend>
      <div class="field">
        <%= l.label :item_name, class: "required" %>
        <%= l.text_field :item_name, required: true, placeholder: "e.g. Hot dog buns" %>
      </div>

      <div>
        <%= l.label :quantity, class: "required" %>
        <%= l.text_field :quantity, required: true, placeholder: "e.g. 6 dozen" %>
      </div>

      <div>
        <fieldset>
          <%= l.radio_button :perishable, false %><%= l.label :perishable, "Non perishable", class: "required" %>
          <%= l.radio_button :perishable, true %><%= l.label :perishable, "Perishable", class: "required" %>
        </fieldset>
      </div>

      <div >
        <%= l.label :expiry_date %>
        <p class="help-text" id="expiryDateHelp">Printed "best before" date (or best estimate, if none available).</p>
        <%= l.date_select :expiry_date, "aria-describedby" => "expiryDateHelp" %>
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend>Contact person for this listing</legend>
      <%= l.label :contact_name %>
      <%= l.text_field :contact_name %>
      <%= l.label :contact_email %>
      <%= l.text_field :contact_email %>
      <%= l.label :contact_phone %>
      <%= l.text_field :contact_phone %>
      <p class="help-text">Note: Users can also message you via in-app conversations.</p>
    </fieldset>

    <fieldset class="fieldset">
      <legend>Add a picture</legend>
      <div onclick="document.getElementById('picture-link').disabled = false; document.getElementById('picture-upload').disabled = true;">
      Link to a picture: <%= l.text_field :remote_picture_url, id: "picture-link" %></div>
      <strong>OR</strong>
      <div onclick="document.getElementById('picture-upload').disabled = false; document.getElementById('picture-link').disabled = true;">
      Upload a picture: <%= l.file_field :picture, id: "picture-upload", disabled: "disabled" %></div>
    </fieldset>

    <div class="field">
      <%= l.label :notes %>
      <%= l.text_area :notes %>
    </div>

    <div class="field">
      <%= l.label :available_until, class: "required" %>
      <p class="help-text" id="availableUntilHelp">This item will be automatically removed from listings after given day &amp; time</p>
      <%= l.datetime_select :available_until, ampm: true, "aria-describedby" => "availableUntilHelp"  %>
    </div>

    <div>
      <%= l.submit %>
    </div>

  <% end %>

</div>
