

 <%= form_for @listing do |l| %>
 <% if @listing.errors.any? %>
   <div id="error_description">
     <h2> <%= pluralize(@listing.errors.count, "error!") %> Your listing did not save </h2>
     <ul>
       <% @listing.errors.full_messages.each do |msg| %>
         <li> <%= msg %> </li>
       <% end %>
     <ul>
   </div>
  <% end %>

   <div class="field">
     <%= l.label :item_name %><br>
     <%= l.text_field :item_name %>
   </div>
   <div class="field">
     <%= l.label :quantity %><br>
     <%= l.text_field :quantity %>
   </div>
   <div class="field">
     <%= l.label :perishable %><br>
     <%= l.text_field :perishable %>
   </div>
   <div class="field">
     <%= l.label :quantity %><br>
     <%= l.text_field :quantity %>
   </div>
   <div class="field">
     <%= l.label :donor_id %><br>
     <%= l.number_field :donor_id %>
   </div>
   <div class="field">
     <%= l.label :expiry_date %><br>
     <%= l.date_select :expiry_date %>
   </div>
   <div class="field">
     <%= l.label :available_until %><br>
     <%= l.date_select :expiry_date %>
   </div>
   <div class="button">
     <%= l.submit %>
   </div>
   <% end %>
