<div class="card">
  <%= form_for [@user, @listing] do |l| %>
    <%= render "shared/errors", object: @listing %>

     <div class="field">
       <%= l.label :item_name, class: "required" %>
       <%= l.text_field :item_name, required: true %>
     </div>

     <div class="field">
       <%= l.label :quantity, class: "required" %>
       <%= l.text_field :quantity, required: true %>
     </div>

     <div class="field clearfix">
       <fieldset>
         <%= l.radio_button :perishable, false %><%= l.label :perishable, "Non perishable", class: "required" %>
         <%= l.radio_button :perishable, true %><%= l.label :perishable, "Perishable", class: "required" %>
       </fieldset>
     </div>

     <fieldset class="field">
       <%= l.label :expiry_date %>
       <p class="help-text" id="expiryDateHelp">Printed "best before" date (or best estimate, if none available).</p>
       <%= l.date_select :expiry_date, "aria-describedby" => "expiryDateHelp" %>
     </fieldset>

     <fieldset class="field">
       <%= l.label :available_until, class: "required" %>
       <p class="help-text" id="availableUntilHelp">This item will be automatically removed from listings after given day &amp; time</p>
       <%= l.datetime_select :available_until, ampm: true, "aria-describedby" => "availableUntilHelp"  %>
     </fieldset>

     <div class="field">
       <%= l.label :picture %>
       <%= l.file_field :picture %>
     </div>

     <div class="field">
       <%= l.label :notes %>
       <%= l.text_area :notes %>
     </div>

     <div class="field clearfix">
       <fieldset>
         <%= l.radio_button :available, :checked => true %><%= l.label :Available, "Available To Public", class: "required" %>
         <%= l.radio_button :available, :checked => false %><%= l.label :Available, "Not Available To Public", class: "required" %>
       </fieldset>
     </div>

     <div>
       <%= l.submit %>
     </div>

  <% end %>

</div>
