<ul>
  <% @listings.each do | listing | %>

    <li>
      <%= link_to listing.item_name, listing_path(listing) %><br />
      Available until: <%= listing.available_until_readable %>

      <%= form_for listing do | l | %>
      <%= 
        <%= l.submit "claim" %>
      <% end %>
    </li>

  <% end %>
</ul>
