<div class="card <%= @listing.claimed? ? "card-claimed" : "" %>">
  <h1><%= @listing.item_name %></h1>

  <%if @listing.picture.present? %>
    <%= image_tag @listing.picture %>
  <% end %>

  <p><strong>Quantity:</strong> <%= @listing.quantity %></p>

  <p>This is a <strong>
    <% if @listing.perishable %>
      perishable
    <% else %>
      non-perishable
    <% end %>
    </strong> item.
    <% if @listing.expiry_date %>
      (Expiry date: <%= @listing.expiry_date %>)
    <% end %>
  </p>

  <% if @listing.notes.present? %>
    <p>Notes: <%= @listing.notes %></p>
  <% end %>

  <p>
    Available from <strong><%= link_to @listing.user.name, @listing.user %></strong> until:
    <h3><%= @listing.available_until_readable %></h3>
  </p>

  <strong>For more information:</strong>
  <p>
    <% if @listing.contact_name.present? %>
      Contact person: <%= @listing.contact_name %><br />
    <% end %>
    <% if @listing.contact_phone.present? %>
      Phone: <%= @listing.contact_phone %><br />
    <% end %>
    <% if @listing.contact_email.present? %>
      Email: <%= @listing.contact_email %><br />
    <% end %>
    <%= link_to "Send a message to #{@listing.user.name}", new_conversation_path(user_id: @listing.user.id, subject: @listing.item_name) %>
  </p>

  <% if current_user === @listing.user  %>
    <%= link_to "Edit this listing", edit_listing_path %> |
    <%= link_to "Delete this listing", @listing, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{@listing.item_name}"  %>
  <% end %>

        <% if !@listing.claimed && current_user != @listing.user %>
          <%= form_for @listing do | f | %>
            <%= f.hidden_field :claimer_id, :value => current_user.id %>
            <%= f.hidden_field :claimed, :value => true %>
            <%= f.submit "claim"%>
          <% end %>
        <% end %>

        <% if @listing.claimed %>
          <% if current_user == @listing.claimer %>
            <%= form_for @listing do | f | %>
              <%= f.hidden_field :claimer_id, :value => nil %>
              <%= f.hidden_field :claimed, :value => false %>
              <%= f.submit "unclaim" %>
            <% end %>
          <% elsif current_user == @listing.user %>
            <p>
              Claimed by <%= link_to @listing.claimer.name, user_path(@listing.claimer) %>
            </p>
          <% else %>
            <p>
              This listing has been claimed and may no longer be available.
            </p>
          <% end %>
        <% end %>

</div>


<h3>Nearby Listings</h3>
  <ul class="unlist">
  <% for user in current_user.nearbys(5) %>
    <% user.listings.each do |listing| %>
      <li class="card <%= listing.claimed? ? "card-claimed" : "" %>">
        <%= link_to listing.item_name, listing %><br />
        <%= listing.user.useraddress %>
      </li>
    <% end %>
  <% end %>
</ul>
