<h1> <%= @listing.item_name %></h1>

<% if @listing.picture.present? %>
  <%= image_tag @listing.picture.url %>
<% end %>

<p>Quantity: <%= @listing.quantity %></p>
<p>Perishable? <%= @listing.perishable %></p>
<p>Expiry date: <%= @listing.expiry_date %></p>
<p>Contact person: <%= @listing.contact_name %></p>
<p>Phone: <%= @listing.contact_phone %></p>
<p>Email: <%= @listing.contact_email %></p>

<h2>This food will be available on PlateAgain until <%= @listing.available_until_readable %></h2>

<% if current_user === @listing.user  %>
  <%= link_to "Edit this listing", edit_listing_path %> |
  <%= link_to "Delete this listing", @listing, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{@listing.item_name}"  %>
<% end %>
<div id="map"></div>
<script>
  function initMap() {
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    var map = new google.maps.Map(document.getElementById('map'));
    directionsDisplay.setMap(map);
    directionsService.route({
      origin: '<%= @current_listing %>',
      destination: '<%= current_user.full_street_address %>',
      travelMode: 'DRIVING'
    }, function(response) {
      directionsDisplay.setDirections(response);
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArWXozgLx1A8ywDrWXL-xd6mCJwCiVQeo&callback=initMap">
</script>
