<div class="card">

  <%= form_for [@user, @comment], remote: true do |f| %>

    <% if current_user %>
      <% if @comment.new_record? %>
      <h3>Add Review:</h3>
      <% else %>
      <h3>Edit Review:</h3>
      <% end %>
      <%= f.text_area :comments %>

      <%= f.hidden_field :reviewer_id, value: current_user.id %>
      <%= f.submit 'Submit Review' %>
    <% else %>
      <p> You must be logged in to post a review. <%= link_to "Log in", login_path %> or <%= link_to "Sign up", new_user_path %></p>
    <% end %>
  <% end %>
</div>
