<h1> New </h1>

 <%= form_for(@listing) do |l| %>
 <div class="listing_form">
   <%= l.label :item_name %><br>
   <%= l.string :item_name %>
 </div>
 <div class="listing_form">
   <%= l.label :quantity %><br>
   <%= l.string :quantity %>
 </div>
 <div class="listing_form">
   <%= l.label :perishable %><br>
   <%= l.string :perishable %>
 </div>
 <div class="listing_form">
   <%= l.label :quantity %><br>
   <%= l.string :quantity %>
 </div>
 <div class="listing_form">
   <%= l.label :donor_id %><br>
   <%= l.integer :donor_id %>
 </div>
 <div class="listing_form">
   <%= l.label :expiry_date %><br>
   <%= l.date :expiry_date %>
 </div>
 <div class="listing_form">
   <%= l.label :available_until %><br>
   <%= l.date :expiry_date %>
 </div>
