<h1> New Conversation </h1>

<div class="card">
  <%= form_tag conversations_path, method: 'post' do %>
    <div class="field">
      <%= label :user_id, "Start a conversation with:" %>
      <% if :user_id %>
        <strong><%= current_user.name %></strong>
      <% else %>
        <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name) %>
      <% end %>
    </div>

    <div class="field">
      <%= label :subject, "Subject:" %>
      <%= text_field_tag :subject, "Your listing: #{@subject}"%>
    </div>

    <div class="field">
      <%= label :body, "Message:" %>
      <%= text_area_tag :body %>
    </div>

    <%= submit_tag "Send Message" %>
  <% end %>
</div>
