<h1>Conversation</h1>

<div class="card">
  <h2><%= @conversation.subject %></h2>

  <% @conversation.receipts_for(current_user).each do | receipt | %>
    <div>
      <span="username">  <%= receipt.message.sender.name %> commented:</span>
      <p class="comments"> <%= receipt.message.body %> </p>
    </div>
  <% end %>
</div>

<div class="card">
  <%= form_tag conversation_messages_path(@conversation), method: 'post' do %>
    <label>Reply:</label>
    <%= text_area_tag :body %>
    <%= submit_tag "Save message" %>
  <% end %>
</div>
