<h1>Conversation: <%= @conversation.subject %></h1>

<div class="card conversation">
  <% @receipts.each do | receipt | %>
    <div class="receipt">
      <span class="username">
        <% if receipt.message.sender == current_user %>
          me 
        <% else %>
          <%= receipt.message.sender.name %>
        <% end %>
        (<%= receipt.message.created_at.strftime('%b %-d, %l:%M%p') %>):
      </span>
      <p class="message-text"><%= receipt.message.body %></p>
    </div>
  <% end %>
</div>

<div class="card">
  <%= form_tag conversation_messages_path(@conversation), method: 'post', id: 'new_message', remote: true do %>
    <%= label_tag :body, "Reply:" %>
    <%= text_area_tag :body %>
    <%= submit_tag "Send" %>
  <% end %>
</div>
