<div class="card">
  <%= form_for @user do |f| %>
    <%= render "shared/errors", object: @user %>

    <fieldset>
      <legend>Set up your account:</legend>
      <div class="field">
        <label class="required">User type:</label>
          <%= f.radio_button :is_provider, true %>
          <%= f.label :is_provider, "Provider: I want to offer available food", :value => true %><br />
          <%= f.radio_button :is_provider, false %>
          <%= f.label :is_provider, "Accepter: I will accept food for a meal program", :value => false %>
      </div>

      <div class="field">
        <%= f.label :username, class: "required" %>
        <span class="help-text" id="usernameHelp">Username cannot contain any spaces. Make sure it's descriptive, since it will show in your profile URL.</span>
        <%= f.text_field :username, "aria-describedby" => "usernameHelp" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "required" %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
         <%= f.label :password, class: "required" %>
         <%= f.password_field :password %>
      </div>

      <div class="field">
         <%= f.label :password_confirmation, class: "required" %>
         <%= f.password_field :password_confirmation %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Tell us more about your organization:</legend>
      <div class="field">
        <%= f.label :name, class: "required" %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :registration, "Business or organization registration number" %>
        <%= f.text_field :registration %>
      </div>

      <div class="field">
        <%= f.label :add_number, "Street number" %>
        <span class="help-text" id="streetNumberHelp">Include unit or suite number</span>
        <%= f.text_field :add_number, "aria-describedby" => "streetNumberHelp" %>
      </div>

      <div class="field">
        <%= f.label :add_name, "Street name"%>
        <%= f.text_field :add_name %>
      </div>

      <div class="field">
        <%= f.label :add_type, "Street type"%>
        <span class="help-text" id="streetTypeHelp">e.g. "Street", "Ave", "Blvd", etc</span>
        <%= f.text_field :add_type, "aria-describedby" => "streetTypeHelp" %>
      </div>

      <div class="field">
        <%= f.label :your_city, "City" %>
        <span class="help-text" id="cityHelp">Must be within the GTA.</span>
        <%= f.text_field :your_city, "aria-describedby" => "cityHelp" %>
      </div>

      <div class="field">
        <%= f.label :postal, "Postal code" %>
        <%= f.text_field :postal %>
      </div>

      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

    </fieldset>


    <fieldset>
      <legend>Add a photo</legend>
      <div onclick="document.getElementById('photo-link').disabled = false; document.getElementById('photo-upload').disabled = true;">
      Link to a photo: <%= f.text_field :remote_photo_url, id: "photo-link" %></div>
      <strong>OR</strong>
      <div onclick="document.getElementById('photo-upload').disabled = false; document.getElementById('photo-link').disabled = true;">
      Upload a photo: <%= f.file_field :photo, id: "photo-upload", disabled: "disabled" %></div>
    </fieldset>


    <div class="submit">
      <%= f.submit "Save" %>
    </div>

  <% end %>

</div>
