<%= form_for @user do |f| %>
  <%= render "shared/errors", object: @user %>

  <p class="field">
    <%= f.label :username %><br  />
    <%= f.text_field :username %>
  </p>
  <p class="field">
    <%= f.label :email %><br  />
    <%= f.email_field :email %>
  </p>

  <p class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </p>

  <p class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation %>
  </p>

  <p class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p class="field">
    <%= f.radio_button :is_provider, :checked => true %> Donor
  </p>
  <p class="field">
    <%= f.radio_button :is_provider, :checked => false %> Receipient
  </p>
  <p class="field">
    <%= f.label :registration %><br  />
    <%= f.text_field :registration %>
  </p>

  <p class="field">
    <%= f.label :address %><br  />
    <%= f.text_field :address %>
  </p>

  <p class="field">
    <%= f.label :phone %><br  />
    <%= f.text_field :phone %>
  </p>

  <p class="field">
    <%= f.label :description %><br  />
    <%= f.text_field :description %>
  </p>

  <p class="field">
    <%= f.label :photo %><br  />
    <%= f.file_field :photo %>
  </p>

  <p class="submit">
    <%= f.submit "Save" %>
  </p>

<% end %>
