<h1>Welcome, <%= @user.name %>!</h1>

<div class="card">
  <p>Registration number: <%= @user.registration %></p>

  <%= link_to "View my profile", user_path(@user) %> |
  <%= link_to "Edit my profile", edit_user_path(@user) %>
</div>

<h2>My listings</h2>

  <% @listings.each do | mylisting  | %>
    <%= mylisting.item_name %>
    <%= mylisting.quantity %>
  <% end %>
