<h1>Dashboard</h1>

<div class="card">
  <p>Registration number: <%= @user.registration %></p>

  <%= link_to "View my profile", user_path(@user) %> |
  <%= link_to "Edit my profile", edit_user_path(@user) %>
</div>

<% if current_user.is_provider? %>
  <h2>My listings</h2>
<% else %>
  <h2>My claimed listings</h2>
<% end %>


  <% @listings.each do | mylisting  | %>
    <%= mylisting.item_name %>
    <%= mylisting.quantity %>
  <% end %>
