<div class="card">
  <h1><%= @user.name %></h1>

  <% if @user.photo.present? %>
    <%= image_tag @user.photo.url %>
  <% end %>

<p><%= link_to "Send Message", new_conversation_url %></p>
<p>Address: <%= @show_address %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<p>Website: <%= link_to @user.homepage, @user.homepage %></p>
<p><%= @user.description %></p>
<div class="map">
  <% if current_user.present? %>
    <%= render 'maploggedin' %>
  <% else %>
    <%= render 'maploggedout' %>
  <% end %>
</div>


</div>


<h2> Reviews </h2>
<%= render 'comments/comment' %>

<div class="card">
  <%= form_for([@user, @user.comments.build]) do |f| %>
    <% if current_user %>
      <h3>Add a Review:</h3>
      <%= f.text_area :comments %>
      <%= f.submit 'Submit Review' %>
    <% else %>
      <p> You must be logged in to post a review. <%= link_to "Log in", login_path %> or <%= link_to "Sign up", new_user_path %></p>
    <% end %>
  <% end %>
</div>
