<div class="card">
  <h1><%= @user.name %></h1>

  <% if @user.photo.present? %>
    <%= image_tag @user.photo.url %>
  <% end %>

<p><%= link_to "Send Message", new_conversation_url %></p>
<p>Address: <%= @show_address %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<p>Website: <%= link_to @user.homepage, @user.homepage %></p>
<p><%= @user.description %></p>
<div class="map">
  <% if current_user.present? %>
    <%= render 'maploggedin' %>
  <% else %>
    <%= render 'maploggedout' %>
  <% end %>
</div>


</div>

<div class="card">
  <h2> Reviews </h2>
   <% @user.comments.each do |comment| %>
   <p> <%= comment.comments %> </p>
   <% end %>
<div>
<div class="card">
  <%= form_for([@user, @user.comments.build]) do |f| %>
    <% if current_user %>
    <h2>Add a Review:</h2>
    Reviews:
    <p>
      <%= f.text_field :comments %>
    </p>
    <p>
      <%= f.submit 'Submit Review' %>
    </p>
    <% else %>
    <p> You Are Currently Not Logged In! </p>
    <% end %>
  <% end %>
</div>
