<script src="//maps.google.com/maps/api/js?key=AIzaSyAwTnjdwOtZf_tkGH6Hr_BTLL3Qlaysuk8"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

<h1><%= @user.name %></h1>

<% if @user.photo.present? %>
  <%= image_tag @user.photo.url %>
<% end %>

<p>Address: <%= @user.full_street_address %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<p>Website: <%= @user.homepage %></p>
<p><%= @user.description %></p>

<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>
<script> handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'basic_map' }});</script>
