
<h1><%= @user.name %></h1>

<% if @user.photo.present? %>
  <%= image_tag @user.photo.url %>
<% end %>

<p>Address: <%= @user.full_street_address %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<p>Website: <%= @user.homepage %></p>
<p><%= @user.description %></p>


    <div id="map"></div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'));
        directionsDisplay.setMap(map);
        directionsService.route({
          origin: '456 Ellerslie Ave, Toronto, ON M2R1C4',
          destination: '220 King St. W, Toronto, ON M5H1K4',
          travelMode: 'DRIVING'
        }, function(response) {
          directionsDisplay.setDirections(response);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArWXozgLx1A8ywDrWXL-xd6mCJwCiVQeo&callback=initMap">
    </script>
