
<h1><%= @user.name %></h1>

<% if @user.photo.present? %>
  <%= image_tag @user.photo.url %>
<% end %>

<p>Address: <%= @user.full_street_address %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<p>Website: <%= link_to @user.homepage, @user.homepage %></p>
<p><%= @user.description %></p>

<h2> Reviews </h2>
 <%= render @user.comments %>

<h2>Add a Review:</h2>
<%= form_for([@user, @user.comments.build]) do |f| %>
  <p>
    Reviews:
    <%= f.text_field :comments %>
  </p>
  <p>
    <%= f.submit 'Submit Review' %>
  </p>
<% end %>


<% if current_user.present? %>
   <%= render 'maploggedin' %>
<% else %>
  <%= render 'maploggedout' %>
<% end %>
