<header class="user-header">
  <% if @user.photo.present? %>
    <%= image_tag @user.photo %>
  <% end %>

  <div class="user-header-text">
    <h1><%= @user.name %></h1>
    <ul class="tabs" data-tabs data-deep-link="true" data-update-history="true" id="user-page-tabs">
      <li class="tabs-title is-active"><a href="#details" aria-selected="true">Details</a></li>
      <% if @user.is_provider %>
        <li class="tabs-title"><a href="#listings">Listings</a></li>
      <% end %>
      <li class="tabs-title"><a href="#reviews">Reviews</a></li>
    </ul>
  </div>
</header>

<div class="tabs-content" data-tabs-content="user-page-tabs">
  <%### DETAILS %>
  <section class="card tabs-panel is-active" id="details">

    <p><%= link_to "Send Message", new_conversation_url %></p>
    <p>Address: <%= @address %></p>
    <p>Phone: <%= @user.phone %></p>
    <p>Email: <%= @user.email %></p>
    <p>Website: <%= link_to @user.homepage, @user.homepage %></p>
    <p><%= @user.description %></p>

    <div class="map">
      <% if current_user.present? %>
        <%= render 'maploggedin' %>
      <% else %>
        <%= render 'maploggedout' %>
      <% end %>
    </div>
  </section>

  <%### LISTINGS %>
  <% if @user.is_provider %>
    <section class="tabs-panel" id="listings">
      <%= render "listings/listings" %>
    </section>
  <% end %>

  <%### REVIEWS %>
  <section class="tabs-panel" id="reviews">
    <%= render 'comments/comment' %>
    <%= render 'comments/new' %>
  </section>


</div>
