  <div class="medium-4 columns">

    <% if request.url != root_url %>
      <div class="small-4 medium-12 columns logo">
        <%= link_to image_tag('plate-again-logo.png', class: 'nav-logo', alt: "PlateAgain logo"), root_url %>
      </div>
    <% end %>

    <div class="small-8 medium-12 columns home-login">
      <% if current_user %>
        <p>Welcome, <%= current_user.name %>!
        <%= link_to 'Log out', logout_path, method: :delete, class: 'button' %>
        </p>
      <% else %>
        <%= render 'sessions/form' %>
      <% end %>

      <span class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="main-menu"></button>
      </span>
      <nav id="main-menu" class="menu vertical">
        <ul class="unlist">
          <li><%= fa_icon "user" %><%= link_to 'Providers', providers_path %></li>
          <li><%= fa_icon "user-o" %><%= link_to 'Acceptors', acceptors_path %></li>

          <% if current_user %>
            <li><%= fa_icon "shopping-basket" %><%= link_to 'Food Listings', listings_path %></li>
            <li><%= fa_icon "tachometer" %><%= link_to 'My Dashboard', dashboard_path %></li>
            <li><%= fa_icon "comments-o" %><%= link_to 'Conversations', conversations_path %></li>
            <li><%= fa_icon "list" %><%= link_to 'My Listings', my_listings_path(current_user) %></li>
            <% if current_user.is_provider? %>
              <li><%= fa_icon "pencil" %><%= link_to 'Create Listing', new_listing_path %></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>

  </div>
