<!DOCTYPE html>
<html>
  <head>
    <title>PlateAgain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1><%= link_to 'PlateAgain', root_url %></h1>
      <nav>
        <%= link_to 'Providers', providers_path %>
        <%= link_to 'Acceptors', acceptors_path %>
        <%= link_to 'Food Listings', listings_path %>
      </nav>

      <div class="user-menu">
        <%= link_to 'My Listings', 'index#listings' %>
        <%= link_to 'Create Listing', 'new#listings' %>
      </div>
    </header>

    <%= yield %>

    <footer>
      &copy; 2017 Team SASPS | <%= link_to 'About PlateAgain', about_path %>
    </footer>
  </body>
</html>
