<!DOCTYPE html>
<html>
  <head>
    <title>PlateAgain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1><%= link_to 'PlateAgain', root_url %></h1>
      <nav>
      </nav>
    </header>

    <%= yield %>

    <footer>
      &copy; 2017 Team SASPS | <%= link_to 'About PlateAgain', about_path %>
    </footer>
  </body>
</html>
