<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <% flash.each do |key, message| %>
    <div class=" row expanded callout flash-<%= key %>"><%= message %></div>
  <% end %>

  <main class="row">
    <%= yield %>
  </main>

  </body>
</html>
