<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PlateAgain</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="row">

      <header class="medium-4 columns">
        <h1 class="text-center small-centered"><%= link_to 'PlateAgain', root_url %></h1>

        <nav class="small-6 medium-12 columns">
          <ul class="menu vertical">
            <li><%= link_to 'Providers', providers_path %></li>
            <li><%= link_to 'Acceptors', acceptors_path %></li>
            <% if current_user %>
              <li><%= link_to 'Food Listings', listings_path %></li>
            <% end %>
          </ul>

        </nav>

        <div class="small-6 medium-12 columns">
          <ul class="menu vertical">
          <% if current_user %>
            <li><%= link_to 'My Dashboard', dashboard_path %></li>
            <li><%= link_to 'My Listings', my_listings_path(current_user) %></li>
              <% if current_user.is_provider? %>
                <li><%= link_to 'Create Listing', new_listing_path %></li>
              <% end %>
            <li><%= link_to 'Conversations', conversations_path %></li>
            <li><%= link_to 'Log out', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to('Log in', login_path, {"data-open" => "login-reveal"})  %></li>
            <li class="menu-text">or</li>
            <li><%= link_to 'Sign up', new_user_path %></li>
          <% end %>
          </ul>
          <div id="login-reveal" class="reveal">
              <%= render "sessions/form" %>
          </div>
        </div>
      </header>


      <main class="medium-8 columns">
        <% flash.each do |key, message| %>
          <div class="flash-<%= key %>"><%= message %></div>
        <% end %>

        <article class="yield">
          <%= yield %>
        </article>

      </main>
          </div>

      <footer class="row text-center">
        &copy; 2017 Team SASPS | <%= link_to 'About PlateAgain', about_path %>
      </footer>

  </body>
</html>
